#fondo{
    width: 100%; 
    height: 100%; 
    background-image: url(../assest/image/Halo-infinite.jpeg); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center butt;
}

#fondo-video{
    width: 100%; 
    height: 100%; 
    background-image: url(../assest/image/imagen-halo-dos.webp); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center butt;
}

#fondo-formulario{
    width: 100%; 
    height: 100%; 
    background-image: url(../assest/image/imagen-halo-tres.webp); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center butt;
}

#fondo-mapa{
    width: 100%; 
    height: 100%; 
    background-image: url(../assest/image/imagen-halo-cuatro.webp); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center butt;
}

.linea-vertical {
    border-left: 2px solid black; /* Cambia el color y grosor de la línea según tus preferencias */
    height: 25px; /* Ajusta la altura de la línea vertical */
    margin: 1px 15px; /* Espacio a ambos lados de la línea vertical */
}

.contenedor{
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* Alineación en la parte inferior del contenedor */
    align-items: center;
    width: 100%;
    height: 1200px;
}

.contenedor2{
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Alineación en la parte inferior del contenedor */        
    align-items: center;
}

.contenedor3{
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Alineación en la parte inferior del contenedor */   
    align-items: center; 
}

.contenedor-formulario{
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Alineación en la parte inferior del contenedor */
    align-items: center;
    width: 100%;
    height: 1000px;
}

.contenedor4 {
    width: 2023px; 
    height: 1100px; 
    background-image: url(../assest/image/halo-versiones.jpg); 
    background-size: cover; /* Ajusta la imagen al tamaño del div */
    background-position: center; /* Centra la imagen horizontalmente */
    background-repeat: no-repeat; /* Evita la repetición de la imagen */    
    text-align: right center;
}

.contenedor5{
    margin-right: 100px;
    width: 700px; 
    height: 500px;
    text-align: left;
    font-family: 'Gabarito', sans-serif;
}

.video-container {
    display: flex;
    justify-content: space-between;
}
.video {
    flex: 1;
    margin: 10px;
}

.organizar-formulario{
    margin: 50px 100px 100px 100px;
    width: 50%;
    height: 50%;
}

.textoh1 {
    text-align: center; /* Alinea el texto horizontalmente en el centro */
    color: white;
    font-size: 30px; 
    font-family: 'Gabarito', sans-serif; 
}

.textoh2 {
    text-align: center; /* Alinea el texto horizontalmente en el centro */
    color: rgb(20, 51, 6);
    font-size: 25px;     
    background-color:rgba(62, 212, 17, 0.918);
    margin: 20px 0px 60px 0px;
    padding: 10px 40px 10px 40px;
    font-family: 'Gabarito', sans-serif
}

.textoh3 {
    text-align: center; /* Alinea el texto horizontalmente en el centro */
    color: rgb(255, 255, 255);
    font-size: 75px;         
    margin: 0px 0px 60px 0px;    
    font-family: 'Gabarito', sans-serif
}

.textoh4 {
    text-align: center; /* Alinea el texto horizontalmente en el centro */
    color: rgb(255, 255, 255);
    font-size: 55px;         
    margin: 40px 0px 30px 0px;    
    font-family: 'Gabarito', sans-serif
}

.textoh5 {    
    color: rgba(2, 121, 56, 0.795);
    font-size: 55px;         
    margin: 40px 0px 30px 0px;    
    font-family: 'Gabarito', sans-serif
}

.textoh6 {    
    color: rgb(0, 0, 0);
    font-size: 26px;         
    margin: 40px 0px 30px 00px;    
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.textoh7 {    
    color: rgba(2, 121, 2, 0.795);
    font-size: 24px;         
    margin: 40px 0px 30px 0px;    
    font-family: 'Gabarito', sans-serif
}

.textoh8 {    
    color: rgb(255, 255, 255);
    font-size: 30px;              
    font-family: 'Gabarito', sans-serif
}

.textoh9 {
    text-align: center; /* Alinea el texto horizontalmente en el centro */
    color: rgb(255, 255, 255);
    font-size: 60px; 
    font-family: 'Gabarito', sans-serif; 
    padding-top: 80px;
    padding-bottom: 10px;
}

.textoh10 {    
    color: rgb(255, 255, 255);
    font-size: 55px;         
}

.textoh11 {    
    color: rgb(255, 255, 255);
    font-size: 23px; 
    font-family: Arial, sans-serif;        
}

.header {
    display: flex;
    justify-content: center;
}

.liuno{    
    padding-right: 15px;   
}

.lidos{    
    padding-right: 70px;   
}

.litres{    
    padding-left: 25px;   
}

.licuatro{    
    padding-right: 5px;   
}

.licinco{    
    padding-right: 360px;   
    padding-left: 25px;
}

.liseis{    
    padding-right: 7px;   
}

.image-ubicar{
    margin-top: 10px;
}

.image-ubicardos{
    margin-top: 2px;
}

.image-ubicartres{    
    margin-bottom: 7px;
}

.image-ubicarcuatro{    
    margin-top: 320px;
}

.letras{
    font-size: 13px; /* Tamaño de letra en píxeles */
    color: #ffffff;    /* Color del texto en formato hexadecimal */
    font-family: Arial, sans-serif; /* Fuente del texto */   
}

.letras2{
    font-size: 13px; /* Tamaño de letra en píxeles */
    color: #ffffff;    /* Color del texto en formato hexadecimal */
    font-family: Arial, sans-serif; /* Fuente del texto */   
    padding-top: 18px;
    padding-bottom: 18px;
    padding-right: 50px;
}

.navbarfooder{
    float: left;
    padding-top: 35px;
    padding-bottom: 15px;
    margin: 0%;    
}

.narbarfooderdos{
    float: left;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0%;  
}

.divfooder{          
    padding-left: 140px;
    margin-right: 0%;
}

.divfooderdos{
    background-color: rgba(59, 57, 57, 0.89);
}

.texto-tabla{
    color: rgba(63, 61, 61, 0.89);
    font-size: 15px;
    margin: 0%
}

.texto-tablados{
    font-size: 11px;    
}

.colorfooter{
    background-color: blue;
}

.imagen-halo{
    margin: 60px 10px;    
}

.div-card{
    margin: 23px 60px 110px 60px;
}

.csserror{
    border: 5px dashed #9b1e1e;
    color: blue;
}

.mejorsaga {    
    color: rgb(255, 255, 255);
    font-size: 30px; 
    font-family: 'Gabarito', sans-serif;     
    padding-bottom: 50px;
    padding-left: 80px;
}

.mejorsaga2 {
    width: 16%; 
    height: 16%;
    border: 5px solid rgb(18, 19, 88);
    border-radius: 8px;
   
}